<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="text-center max-w-4xl mx-auto">
      <div class="sm:flex sm:justify-center">
        <!-- <div
          class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 dark:text-gray-400 ring-1 ring-gray-900/10 dark:ring-gray-100/10 hover:ring-gray-900/20 dark:hover:ring-gray-100/20 transition-all duration-200">
          <a
            href="https://lexingtonthemes.com/free-templates/"
            class="font-semibold text-accent-600 dark:text-accent-400"
            ><span class="absolute inset-0" aria-hidden="true"></span>
            <span class="block lg:inline">
              More free & Premium templates <span aria-hidden="true"
                >&rarr;</span
              >
            </span>
          </a>
        </div> -->
      </div>
      <p
        class="text-4xl tracking-tight font-semibold text-black dark:text-white md:text-5xl font-display mt-8 transition-colors duration-200"
      >
        Hi, we're Wraith. We build cool things.
      </p>
      <p
        class="text-gray-500 dark:text-gray-400 lg:text-xl max-w-2xl mt-4 mx-auto text-base transition-colors duration-200"
      >
        Wraith is a development house building tools to make life a little easier for everyone.
        Reach out to us to find out more about how we could help bring your ideas to life.
      </p>
    </div>
    <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
      <!-- <a
        class="items-center justify-center border-gray-200 dark:border-gray-700 h-10 font-medium rounded-lg focus-visible:outline-black dark:focus-visible:outline-white focus:outline-none inline-flex duration-200 text-black dark:text-white lg:w-auto px-6 py-3 text-center text-black/80 dark:text-white/80 w-full border transition-all"
        href="https://github.com/michael-andreuzza/astrosaas">GitHub</a
      > -->
      <a
        class="items-center justify-center h-10 font-medium rounded-lg focus-visible:outline-black dark:focus-visible:outline-white focus:outline-none inline-flex bg-black dark:bg-white border-2 border-black dark:border-white duration-200 focus-visible:ring-black dark:focus-visible:ring-white hover:bg-transparent dark:hover:bg-transparent hover:border-black dark:hover:border-white hover:text-black dark:hover:text-white lg:w-auto px-6 py-3 text-center text-white dark:text-black w-full transition-all"
        href="mailto:info@wraithindustries.io"
        >Contact Us &nbsp; &rarr;
      </a>
    </div>
    <!-- <dl
      class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
      <div class="text-gray-500 dark:text-gray-400">
        <strong class="text-gray-700 dark:text-gray-300"
          >Astro, Tailwind CSS and Alpine.js</strong
        > ━ This are the popular technologies behind Astrosaas.
      </div>
      <div class="text-gray-500 dark:text-gray-400">
        <strong class="text-gray-700 dark:text-gray-300">Includes 6 pages</strong> ━ You will find
        this landing, faq, terms,privacy,sign up and sign in pages.
      </div>
      <div class="text-gray-500 dark:text-gray-400">
        <strong class="text-gray-700 dark:text-gray-300">Different section</strong> ━ The starter
        includes different feature sections, a pricing table, testmionial, CTA
        and full forms. more.
      </div>
    </dl> -->

    <!-- HERO IMAGE -->

    <div class="relative w-full mx-auto max-w-xl items-center py-12 pb-12">
      <!-- <div class="bg-gray-100 dark:bg-gray-800 p-8 rounded-xl transition-colors duration-200"> -->
      <!-- <img
          alt="#_"
          class="relative w-full border border-gray-200 dark:border-gray-700 lg:rounded-2xl object-cover rounded shadow-2xl transition-colors duration-200"
          src="/wraith-logo-black.png"
        /> -->
      <!-- </div> -->
    </div>

    <!-- PARTNERS -->

    <!-- <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="logo" class="h-8 dark:invert" src="/Gumroad.svg" />
      </div>
    </div> -->
  </div>
</section>
