<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          What we do.
        </p>
        <!-- <p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p> -->
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="phone-portrait-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Mobile Apps
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We build native mobile apps characterised by elegant design and deluxe user experience.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="laptop-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Web Applications
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We have a keen focus on performance, usability and experience when building web apps.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="menu-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Platforms
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We build innovative platforms that connect suppliers and consumers and provide both with a superb experience.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="person-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Consumer Products
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We create consumer facing solutions and tools that make things a little bit easier for everyone.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="briefcase-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Business Applications
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                We develop unique solutions to solve complex problems and help drive industry-leading performance for businesses.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="bulb-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Bringing Ideas to Life
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Got a great idea? We’ll help you make it happen.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
