---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import Breadcrumb from "../components/global/Breadcrumb.astro";

const { breadcrumbs } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html
    lang="en"
    class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
    <head>
        <BaseHead />
    </head>
    <body class="bg-white flex flex-col min-h-svh">
        <Navigation />
        {
            currentPath !== "/" && (
                <div class="border-b border-gray-200 bg-white">
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
                        <Breadcrumb currentPath={currentPath} customCrumbs={breadcrumbs} />
                    </div>
                </div>
            )
        }
        <main class="grow"><slot /></main>
        <Footer />
    </body>
</html>
